.shortli6 p {
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    color: #000000;
}

.shortli5{
    text-align: center;
}

.shortli5 button {
    width: 163px;
    height: 39px;
    border: none;
    outline: none;
    background-color: #0185C3;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    color: #FFFFFF;
    transition: all 0.3s ease;
}



  

