.loan31 {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
    top: 200px;
}

.loan30 {
    width: 229px;
    height: 340px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.loan30 img {
    width: 30px;
    height: 44.28px;
    margin-bottom: 10px;
}

.loan30 h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: #000000;
}

.topki {
    margin-top: 50px;
}




.loan30 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    color: #000000;
}



.loan35 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.loan36 {
    font-family: Open Sans;
    cursor: pointer;
    width: 208.02px;
    height: 58.67px;
    background-color: #349DCF;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    line-height: 27.24px;
}



.loan37 {
    font-family: Open Sans;
    cursor: pointer;
    width: 208.02px;
    height: 58.67px;
    background: transparent;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    color: #000000;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}




/* .rangebox input {
    width: 100%;
} */



::selection {
    color: #fff;
    background: #17A2B8;
}

.rangebox {
    margin-top: 4rem;
}



.values {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.values span {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}



.price-input {
    display: flex;
    margin-top: 4rem;
}

.price-input .field {}

.price-input .field span {
    font-weight: 600;
    font-size: 18px;
    color: #000000B2;
}

.field {
    position: relative;
}

.field::before {
    content: "€";
    position: absolute;
    left: 50px;
    top: 65%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #000000;
    /* Adjust the color as needed */
    font-weight: 600;
}

.field input {
    width: 208px;
    height: 60px;
    outline: none;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    border-radius: 9px;
    text-align: center;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-appearance: textfield;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider {
    height: 1px;
    position: relative;
    background: #D9D9D9;
    border-radius: 7px;
}

.slider .progress {
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: #0070BC;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -4px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #0070BC;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}




@media screen and (max-width: 568px) {
    .loan31 {
        justify-content: center;
        align-items: center;
        gap: 2px;
        top: 100px;
    }

    .loan30 {
        width: 229px;
        height: auto;
        margin-right: 0;
        padding: 10px;
    }


    .loan30 h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 27.24px;
        color: #000000;
    }

}