.predictor1{
    width: 90%;
    height: 160px;
    background: #1A3B5A;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.predictor1 h1{
    font-weight: 700;
    font-size: 26px;
    line-height: 35.41px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.predictor1 p{
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}


.predictor2{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.predictor3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.predictor3 label{
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: #000000;
}

.predictor3 select{
    width: 294px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #707070;
    background: #E7E7E7;
    padding: 10px;
}

.predictor3 input{
    width: 294px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #707070;
    background: #E7E7E7;
    padding: 10px;
    outline: none;
}




.predictor4{
    width: 90%;
    height: 268px;
    background: #E7E7E7;
    margin: auto;
    margin-top: 50px;
    border-radius: 12px;
}

.predictor5{
    width:90%;
    height: 490px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.predictor6{
    width:100%;
    border-radius: 12px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}


.predictor6 h6{
    font-weight: 700;
    font-size: 20px;
    line-height: 27.24px;
    color: #1A3B5A;
    text-align: center;
}

  

.predictor7{
    display: flex;
    justify-content: space-around;
}

.predictor8{
    display: flex;
    justify-content: end;
    margin-top: 50px;
    margin-right: 50px;

}

.predictor8 h6{
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: #000000;
    margin-right: 20px;
}

.predictor8 button{
    width: 59px;
    height: 27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    color: #646464;
    background: #D9D9D9;
    border: none;
    outline: none;
}
.predictor8 button:nth-child(2){
    width: 59px;
    height: 27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    color: #FFFFFF;
    background: #1A3B5A;
    border: none;
    outline: none;
}


.predictor9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.predictor9 h6{
    font-weight: 700;
    font-size: 20px;
    line-height: 27.24px;
    color: #000000;
    margin-right: 20px;
    text-align: center;
}

.predictor9 span{
    font-weight: 700;
    font-size: 20px;
    line-height: 27.24px;
    color: #1A3B5A;
    margin-right: 20px;
    text-align: center;
}


.predictor9 button{
    width: 99px;
    height: 53px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: #FFFFFF;
    background: #1A3B5A;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 20px;
    transition: all 0.3s ease;
    /* Adding transition for smooth animation */
  }
  
  .predictor9 button:hover {
    transform: scale(1.1);
    /* Increase the size by 10% on hover */
  }
